@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Source+Sans+Pro:wght@600&display=swap');

//----------------------------------------
//module variables
//-----------------------------------------

//fonts
$font-1: 'Merriweather', Georgia ,serif;
$font-2: 'Source sans pro', Helvetica ,sans-serif;

//default values

$font-size-default:0.9em;
$font-color-default:#212931;
$line-height-default:2;
$font-weight-default:300;
$letter-spacing-defaults:.025em;
$margin-default:0 0 0.7em 0;


//substile
$font-substile-1 : $font-1;
$font-size-substile-1:0.9rem;
$font-style-substile-1: italic;
$margin-substile-1 : 0 0 1em 0;

$font-substile-2 : $font-1;
$font-size-substile-2:0.7rem;
$font-style-substile-2: italic;
$margin-substile-2:0 0 1em 0;

$font-substile-3 : $font-1;
$font-size-substile-3:0.6rem;
$font-style-substile-3: italic;
$margin-substile-3:0 0 1em 0;


//header
$font-h1 : $font-2;
$font-size-h1:3.5rem; //rem = 3.5 de la valeur par defaut qui est de 1.1em
$line-height-h1:1.2;
$font-weight-h1:300;
$letter-spacing-h1:.025em;
$margin-h1: 0 0 0.7em 0;

$font-h2 : $font-2;
$font-size-h2:2.5rem;
$line-height-h2:1.2;
$font-weight-h2:300;
$letter-spacing-h2:.025em;
$margin-h2: 0 0 0.7em 0;

$font-h3 : $font-2;
$font-size-h3:1.25rem;
$line-height-h3:1.2;
$font-weight-h3:300;
$letter-spacing-h3:.025em;
$margin-h3: 0 0 0.8em 0;

$font-h4 : $font-2;
$font-size-h4:1.2rem;
$line-height-h4:1.2;
$font-weight-h4:300;
$letter-spacing-h4:.025em;
$margin-h4: 0 0 0.7em 0;

$font-h5 : $font-2;
$font-size-h5:1.1rem;
$line-height-h5:1.2;
$font-weight-h5:300;
$letter-spacing-h5:.025em;
$margin-h5: 0 0 0.7em 0;

$font-h6 : $font-2;
$font-size-h6:1rem;
$line-height-h6:1.2;
$font-weight-h6:300;
$letter-spacing-h6:.025em;
$margin-h6: 0 0 0.7em 0;

//Description
$font-dt: $font-2;
$font-size-dt:1rem;
$font-style-dt:none;
$font-weight-dt:600;
$margin-dt:0 0 1.2em 0;

// LINKS
$link-color: $color-text;
$link-decoration:  underline dotted;
$link-transition:  all 300ms ease-in-out;


// LINKS : HOVER
$link-hover-color:$color-1;
$link-hover-decoration: none;
$link-hover-border-color:$color-1;

// CODE
$code-color:       $color-text;
$code-background:  $color-2;
$code-padding:     .3em;
$code-border: none;

//blockote
$blockote-color-font: $color-text;
$blockkote-font-style:italic;
$blockote-border: $color-3 4px solid;
$blockote-margin: 0 0 1.5rem 0;
$blockote-padding: 0 0 0 40px;

// table
//titre de table
$font-th: $font-2;
$font-color-th: $color-text;
$font-size-th:1.1rem;
$line-height-th:1.2;
$font-weight-th:300;
$letter-spacing-th:.025em;
$margin-th: 0 0 0.7em 0;

//elements de table
$font-size-td:0.9em;
$font-color-td:$color-text;
$line-height-td:2;
$font-weight-td:300;
$letter-spacing-td:.025em;
$margin-td: 0 0.7em 0;

//boutons
$font-size-button:1.1rem;
$font-button: $font-2;
$line-height-button:1.2;
$font-weight-button:900;
$letter-spacing-button:.025em;
$margin-button: 0 0 0.7em 0;





//----------------------------
// module default specifications
//------------------------------

body{
    font-family:$font-1;
    font-size:$font-size-default;
    color: $font-color-default;
    line-height: $line-height-default;
    font-weight: $font-weight-default;
}

//default headers--------------------

h1,.h1{
    font-family:$font-h1;
    font-size:$font-size-h1;
    color:$font-color-default;
    line-height:$line-height-h1;
    font-weight:$font-weight-h1;
    margin : $margin-h1;
}

h2,.h2{
    font-family:$font-h2;
    font-size:$font-size-h2;
    color:$font-color-default;
    line-height:$line-height-h2;
    font-weight:$font-weight-h2;
    margin : $margin-h2;
}

h3,.h3{
    font-family:$font-h3;
    font-size:$font-size-h3;
    color:$font-color-default;
    line-height:$line-height-h3;
    font-weight:$font-weight-h3;
    margin : $margin-h3;
}
h4,.h4{
    font-family:$font-h4;
    font-size:$font-size-h4;
    color:$font-color-default;
    line-height:$line-height-h4;
    font-weight:$font-weight-h4;
    margin : $margin-h3;
}
h5,.h5{
    font-family:$font-h5;
    font-size:$font-size-h5;
    color:$font-color-default;
    line-height:$line-height-h5;
    font-weight:$font-weight-h5;
    margin : $margin-h5;
}
h6,.h6{
    font-family:$font-h6;
    font-size:$font-size-h6;
    color:$font-color-default;
    line-height:$line-height-h6;
    font-weight:$font-weight-h6;
    margin : $margin-h6;
}
.substile-1{
    font-family: $font-substile-1;
    font-size: $font-size-substile-1;
    font-style: $font-style-substile-1;
    margin : $margin-substile-1;
}

.substile-2{
    font-family: $font-substile-2;
    font-size: $font-size-substile-2;
    font-style: $font-style-substile-2;
    margin : $margin-substile-2;
}
.substile-3{
    font-family: $font-substile-3;
    font-size: $font-size-substile-3;
    font-style: $font-style-substile-3;
    margin : $margin-substile-3;
}
a {
    color:           $link-color;
    text-decoration: none;
    transition:      none;
    &:hover {
        color:           $link-hover-color;
        text-decoration: $link-hover-decoration;
        border-color:$link-hover-border-color;
        
    }
    }

    code {
        color:      $code-color;
        background: $code-background;
        padding:    $code-padding;
        border:     $code-border;
    }

    dt{
        font-family:$font-dt;
        font-size:$font-size-dt;
        font-weight:$font-weight-dt;
        margin: $margin-dt;

    }

blockquote{
    color: $blockote-color-font;
    font-style: $blockkote-font-style;
    border-left: $blockote-border;
    padding:$blockote-padding;
    margin:$blockote-margin;


}

th{
    font-family:$font-2;
    color: $font-color-th;
    font-size:$font-size-th;
    line-height: $line-height-th;
    font-weight:$font-weight-th;
    letter-spacing :$letter-spacing-th;
    margin:$margin-th;

}
td{
    font-family:$font-1;
    color: $font-color-td;
    font-size:$font-size-td;
    line-height:$line-height-td;
    font-weight:$font-weight-td;
    letter-spacing:$letter-spacing-td;
    margin:$margin-td;

}







    
